* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: 262px;
}

.card-dark {
  background: #202842;
  color: #fff;
}

.card-dark .btn-dark {
  background: #fff;
  color: #202842;
  border: none;
}

.card > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark {
  background: #202842;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
}

.card ul {
  list-style: none;
}

.card ul li {
  padding-left: 0;
}
